<!DOCTYPE html>
<html lang="en">
<head>
  <title>"{{tracker_name}}" content tracker detected changes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> email_styles}}
  <style>
    .navigate-link {
      display: block;
      width: 250px;
      margin: auto;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      color: #5e1d3f;
      background-color: #fed047;
      border-radius: 5px;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>"{{tracker_name}}" content tracker detected changes</h1>
  <p>To learn more, visit the <b>Content trackers</b> page:</p>
  <a class="navigate-link" href="{{back_link}}">Web Scraping → Content trackers</a>
  <p>If the button above doesn't work, you can navigate to the following URL directly: </p>
  <p>{{back_link}}</p>
  <a href="{{home_link}}"><img src="cid:secutils-logo" alt="Secutils.dev logo" width="89" height="14" /></a>
</div>
</body>
</html>
