<!DOCTYPE html>
<html lang="en">
<head>
  <title>"{{tracker_name}}" tracker detected {{changes_count}} changes in resources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> email_styles}}
  {{> tracker_styles}}
</head>
<body>
<div class="container">
  <h1>"{{tracker_name}}" tracker detected {{changes_count}} changes in resources</h1>
  <p>To learn more, visit the <b>Resources trackers</b> page:</p>
  <a class="navigate-link" href="{{back_link}}">Web Scraping → Resources trackers</a>
  <p>If the button above doesn't work, you can navigate to the following URL directly: </p>
  <p>{{back_link}}</p>
  <a href="{{home_link}}"><img src="cid:secutils-logo" alt="Secutils.dev logo" width="89" height="14" /></a>
</div>
</body>
</html>
